#innerbanner {
	height: 140px;
}

#main-section {
	margin: 30px;
}

#first-card {
	text-transform: uppercase;
	border-radius: 5px;
	margin: 20px 5px;
	box-shadow: 1px 1px 10px 0 #aba;
	padding: 20px;
}

.drop {
	position: relative;
	display: inline-block;
	margin: 10px;
}

.drop .dropdown-menu {
	box-shadow: 5px 5px 23px 0 #aba;
	background-color: #fff;
}



.drop .dropdown-menu > li > a{
	color: black;
}

#second-card {
	text-transform: uppercase;
	border-radius: 5px;
	margin: 20px 5px;
	box-shadow: 1px 1px 23px 0 #aba;
	padding: 20px;
	width: 50%;
}

.button {
	text-transform: uppercase;
  border: 2px solid #FF8DB2;
  border-radius: 5px;
  font-family: brandon-grotesque,'Helvetica',sans-serif;
  font-size: 1.2em;
  padding: 5px 10px 5px 10px;
  font-weight: 600;
  color: #02b3e4;
  transform: perspective(1px) translateZ(0); /*for hover effect*/
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.5s;
  background-color: #fff;
}

.button:hover {
	transform: scale(1.05);
	color: #fff;
	background-color: #FF8DB2;
}

#third-card {
	text-transform: uppercase;
	border: 2px solid #ddd;
	margin: 20px 5px;
	padding: 20px;
	width: 70%;
}

#add-discussion {
	font-family: Arial,  sans-serif;
	font-weight: 500;
}

#third-card .style {
	border: 1px solid;
	margin: 5px;
	padding: 5px;
	background-color: #02b3e4;
	color: #fff;
}


#add-comment {
	margin: 5px 20px 5px 20px;
	padding: 10px;
	font-family: 'Noto Sans', sans-serif;
}

#comment-button {
	text-align: center;
}

#comment-button button {
	background-color: #02b3e4;
	color: #eee;
	font-size: 1.2em;
  font-weight: 600;
}

#comment-button button:hover {
	color: #fff;
}

