*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: Open Sans,sans-serif;
}

#nav-list1 {
	margin-top: 10px;
	font-size: 13px;
	text-align: center;
}


#nav-list1 >li > a {
	text-align: center;
	color: #02b3e4;
	transform: perspective(1px) translateZ(0); /*for hover effect*/
	box-shadow: 0 0 1px transparent;
	transition-duration: 0.5s;
	text-transform: uppercase;
}



#nav-list1 button {
	text-transform: uppercase;
	background-color: #02b3e4;
	color:white;
	padding: 13px 30px 13px 30px;
	margin-left: 20px;
	border-radius: 5px;
	border: 0;
	margin-top:-15px;
	transform: perspective(1px) translateZ(0); /*for hover effect*/
	box-shadow: 0 0 1px transparent;
	transition-duration: 0.5s;
	font-size: 15px;
}



#nav-list1 #notification { 	/*WILL DISPLAY, WHEN LOGGED IN*/
	display: none;
}
#innerbanner1 {
		background-color:white;
	
}
.navbar-brand h1 {
	letter-spacing:5px;
	font-size: 1.1em;
	text-transform: uppercase;
	text-shadow: 0.5px 0.5px 0.5px #4289EF;
	margin-top: 0;
	margin-bottom: 0;
	color:#02b3e4;
	font-weight: 0.5em;
}


body{
	background: #f2f2f2;
	font-family: Segoe UI Light;
	background-size: cover;
}


a{
	text-decoration: none;
	color:  #4dd2ff;
	transition: .5s ease;
}

#innerbanner {
	background: linear-gradient(160deg,#02cbba,#aa7efd);
	height: 70px;
}

#form-page::before {
	content: '';
  width: 100%;
  height: 600px;
  z-index: -1000;
  background: linear-gradient(to bottom right,#afa,#eafbff);
  transform-origin: left bottom;
  position: absolute;
  top: 40%;
  left: 0;
  transform: skew(0deg,-15deg);
}

#form-page::after {
  content: '';
  width: 100%;
  height: 500px;
  z-index: -1000;
  background: rgba(145,218,238,.1);
  transform-origin: bottom right;
  position: absolute;
  top: 47%;
  left: 0;
  transform: skew(0deg,15deg);
}

.form{
	background:white;
	padding:0 0 40px 0;
	max-width: 700px;
	margin: 40px auto;
	border-radius: 4px;
	transition: .5s ease;
	box-shadow: 1px 1px 2px 2px #e6e6e6;
	text-align: center;
}


.tab-group{
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
	border-top: 0; 
}

.tab-group:after{
	content: 0;
	display: table; 
	clear: both;
}

.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background:#f2f2f2;
	color: #808080;
	font-size: 15px;
	float: left;
	width: 50%;
	border-color:#80ffaa;
	text-align: center;
	cursor: pointer;
	transition: .5s ease;
}

.tab-group li a: hover {
	background:#f2f2f2 ; 
	color: #808080;
}

.tab-group .active a {
	background: white; 
	color: #808080;
}

.tab-content > div:last-child{
	display: none;
}

.tab-content{
	padding: 30px 10px 10px 10px;
}

header{
	
	color:#595959;
	padding:50px;
	padding-top: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
}

#email-input{
  margin-right: 60px;
}

#input-data{
	width: 100%;
	padding: 13px;
	display: inline-block;
	background:white;
	border-radius: 4px;
	box-shadow: 5px 5px 23px 0 #aaa;
}

#input-data:hover {
	box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

#input-data:focus{
	background-color:white; 
	outline: none;
	border-color: #66d9ff;
	animation: neon1 1.5s ease-in-out infinite alternate;
}


hr{
	border: 0.5px solid #999999;
	margin-bottom: 25px;
	color:#808080;
	text-align: center;
}


.field-wrap{
	position: relative;
	margin-bottom:30px;
	margin-left: 30px;
	margin-right: 30px;
}


.top-row{
	width: 100%;
}

#topRow li{
	display: inline-block;
	width: 300px;
	
}

.top-row:after{
	content: "";
	display: table;
	clear: both;
}

.top-row > div{
	float: left;
	width: 100%;
	margin-right: 4%;
	display: inline-block;
}

.top-row > div: last-child{
	margin: 0;
	
}


.button{
	background-color:#00a3cc;
	color: #ffffff;
	padding: 14px 40px;
	margin:20px;
	margin-top:30px;
	border:none;
	cursor: pointer;
	opacity: 0.9;
	font-family:Candara;
	margin: center;
	border-radius: 5px;
	box-shadow: 5px 5px 23px 0 #aaa;
}

.button:hover, .button:focus{
	opacity: 1;
	background-color: #008fb3;
	box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}



.forgot{
	margin-top: 5px;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	color: #00a3cc;
}




.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  box-shadow: 5px 5px 23px 0 #aaa;
}

.loginBtn:hover {
	box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #ffffff;
 background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

/***###*** MEDIA QUERIES ***###***/

/********** Large devices only **********/
@media (min-width: 1200px) {
  

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

	#innerbanner {
		height: 150px;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

	#innerbanner {
		height: 150px;
	}

	.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
	}

}


/********** Extra small devices only **********/
@media (max-width: 767px) {
	#innerbanner {
		height: 100px;
	}

}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {
  
  .field-wrap {
  	margin: 0px 10px 30px 10px;
  }

  #email-input{
  	margin-right: 40px;
  }
}

/********** Medium Mobile devices only **********/
@media (max-width: 380px) {
  
}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {

}
