* {
	box-sizing: border-box;
	font-family: Open Sans,sans-serif;
}


/*Section body*/
#innerbanner {
	height: 1250px;
}
/*Section body*/

/*HEADER*/

#header-nav  {
	padding-bottom: 10px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #4289EF;
    display: block;
    transition: 0.3s;
	text-transform: uppercase;
	line-height:40px;
	word-spacing:5px;
}

.overlay .closebtn {
	color: black;
    position: absolute;
    top: 20px;
    right: 50%;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size-adjust:auto;
    top: 15px;
    right: 50%;
  }
}

#logo-img {
	background: url('../images/Abroad Manager V9 small.png');
	background-repeat:no-repeat;
	width: 60px;
	height: 60px;
	margin: 10px 5px 0 0;
}


.navbar-brand {
	padding: 28px 25px 35px 15px;
}

.navbar-brand h1 {
	letter-spacing:5px;
	font-size: 1.1em;
	text-transform: uppercase;
	text-shadow: 0.5px 0.5px 0.5px #4289EF;
	margin-top: 0;
	margin-bottom: 0;
	color:#ffffff;
	font-weight: 0.5em;
}

.navbar-brand h1:hover{
	text-decoration:none;
}


#nav-list {
	margin-top: 10px;
	font-size: 13px;
	text-align: center;
}


#nav-list >li > a {
	text-align: center;
	color: #eee;
	transform: perspective(1px) translateZ(0); /*for hover effect*/
	box-shadow: 0 0 1px transparent;
	transition-duration: 0.5s;
	text-transform: uppercase;
}



#nav-list button {
	text-transform: uppercase;
	background-color: #02b3e4;
	padding: 13px 30px 13px 30px;
	margin-left: 20px;
	border-radius: 5px;
	border: 0;
	margin-top:-15px;
	transform: perspective(1px) translateZ(0); /*for hover effect*/
	box-shadow: 0 0 1px transparent;
	transition-duration: 0.5s;
	font-size: 15px;
}



#nav-list #notification { 	/*WILL DISPLAY, WHEN LOGGED IN*/
	display: none;
}

.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

.navbar-toggle span{
	border: 1px solid #fff;
}

.dropdown-menu > li > a {
	color: #eee;
	transform: perspective(1px) translateZ(0); /*for hover effect*/
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.5s;
}

.dropdown-menu > li {
	text-align: center;
}
.dropdown-menu > li > a:hover {
	color: #fff;
	transform: scale(1.05);
}
/*HEADER*/

/*Main Content*/
#main-content {
  padding-top: 140px;
  text-align: center;
}

#main-content > h1 {
  font-family: brandon-grotesque,Helvetica,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  font-size: 3.5rem;
}

#main-content-button {
	background-color: #02b3e4;
  text-transform: uppercase;
  border: 0;
  padding: 20px 50px 20px 50px;
  border-radius: 5px;
  font-family: brandon-grotesque,Helvetica,sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 50px;
  color: #eee;
  transform: perspective(1px) translateZ(0); /*for hover effect*/
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.5s;
}


#main-content-button:hover {
	transform: scale(1.05);
	color: #fff;
}
/*Main Content*/


/*Dashboard*/

#dashboard-img {
	width: 100%;
	height: 100%;
	margin-top: -220px;
}

#dashboard {
	background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 1100px;
  margin: -140px auto 0;
  padding: 60px 80px;
  width: 1180px;
  text-align: left;
  box-shadow: 5px 5px 23px 0 #aaa;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#dashboard:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

#dashboard-heading {
	font-family: 'Open Sans';
	font-weight: 500;
	font-style: italic;
	font-size: 5.5em;
	color: #02b3e4;
}

#dashboard-list {
	list-style-type: none;
	padding: 10px;
	text-transform: uppercase;
}

#dashboard-list > li {
	padding: 10px;
	font-size: 1.5em;
}

#dashboard-list > li > span {
	padding: 25px;
}

#dashboard-image {
	background: url(../images/dashboard_450x360.png);
	width: 450px;
	height: 360px;
}

#dashboard-button {
	background-color: #02b3e4;
	font-size: 13px;
  text-transform: uppercase;
  border: 0;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  font-family: brandon-grotesque,Helvetica,sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 50px;
  color: #eee;
  transform: perspective(1px) translateZ(0); /*for hover effect*/
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.5s;
}

#dashboard-button:hover {
	transform: scale(1.05);
	color: #fff;
}

/*Dashboard*/

/*Query*/

#query {
	margin-top: 500px;
	text-align: center;
	position: relative;
}

#query-heading {
	color: #02b3e4;
	text-transform: uppercase;
}

.discussion {
	border-radius: 10px;
	margin: 30px 5px;
	box-shadow: 5px 10px 23px 0 #aba;
	padding: 10px;
}

.discussion:hover {
	box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.discussion-heading {
	font-family: 'Open Sans';
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;
	text-align: left;
}

.discussion-list {
	text-align: left;
	text-transform: uppercase;
	font-size: 1.2em;
	padding: 10px;
}

.discussion-list span {
	padding: 15px;
}

.discussion-list p
{
	padding-left: 50px;
}

#discussion-image1 {
	background: url(../images/general_240x260.jpg);
	width: 240px;
	height: 260px;
}

#discussion-image2 {
	background: url(../images/university_240x260.jpg);
	width: 240px;
	height: 260px;
}

.discussion-button {
	background-color: #02b3e4;
	font-size: 13px;
  text-transform: uppercase;
  border: 0;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  font-family: brandon-grotesque,Helvetica,sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 50px;
  color: #eee;
  transform: perspective(1px) translateZ(0); /*for hover effect*/
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.5s;
}

.discussion-button:hover {
	transform: scale(1.05);
	color: #fff;
}
/*Query*/

/*Connect-abroad*/

#connect-abroad {
	background: linear-gradient(200deg,#3751a2,#da6799, #ffe49a);
	height: 1000px;
	margin-bottom: 10px;
	text-align: center;
}

#connect-heading {
	padding: 50px;
	font-family: brandon-grotesque,Helvetica,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;

}

#connect-more {
	border-radius: 10px;
	box-shadow: 5px 5px 23px 0 #aaa;
	padding: 10px;
	background-color: #fff;
	text-transform: uppercase;
}

#connect-more:hover {
	box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

#connect-more > h2 {
	padding: 20px;
	font-weight: 500;
}

#connect-animate {
	border-radius: 10px;
	ox-shadow: 1px 1px 23px 0 #eee;
	/*padding: 50px;*/
	margin: 50px;
	background-color: #fff;
	text-transform: uppercase;
	height: 450px;
	background: url(../images/roommate_1024x450.png);
}

#connect-animate:hover {
	ox-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

/*Connect-abroad*/

/*FOOTER*/

footer {
	background-color: #edfafd;
	text-transform: uppercase;
	color: #7a97af;
}


.footer-content {
	padding: 20px 0px 0px 40px;
	margin-top: 20px;
	text-transform: uppercase;
	font-family: 'brandon-grotesque','Helvetica',sans-serif;
}

.footer-list ul {
	list-style-type: none;
	text-transform: uppercase;
	padding-left: 40px;
}

.footer-list li {
	padding: 5px;
	font-size: 1.2em;
}

.footer-list i {
	padding-right: 20px;
	font-size: 1.8em;
}

.footer-list a:hover {
	text-decoration: none;
}

.span {
	color: #337ab7;
}

/*FOOTER*/


/***###*** MEDIA QUERIES ***###***/

/********** Large devices only **********/
@media (min-width: 1200px) {


}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

	#header-dropdown {
		background: linear-gradient(160deg,#02cbba,#aa7efd);
	}

	/*Dashboard*/
	#dashboard-img {
		display: none;
	}

	#dashboard {
		top: 700px;
		margin-left: 30px;
		margin-right: 30px;
		width: auto;
	}

	#dashboard-list > li {
		padding: 15px 0px 15px 0px;
		font-size: 1.2em;
	}

	#dashboard-button {
  	font-size: 2em;
 	}

 	#dashboard-image {
		background: url(../images/dashboard_420x320.png);
		width: 420px;
		height: 320px;
	}
	
	
	

	/*Dashboard*/

	/*Query*/

	#query {
		margin-top: 100px;
	}

	#discussion-image1 {
		background: url(../images/general_180x240.jpg);
		width: 180px;
		height: 240px;
	}

	#discussion-image2 {
		background: url(../images/university_180x240.jpg);
		width: 180px;
		height: 240px;
	}

	/*Query*/

	/*Connect-abroad*/
	#connect-abroad {
		height: 900px;
	}
	#connect-heading {
		padding: 10px 5px 10px 5px;
		font-size: 1.2em;
	}

	/*Connect-abroad*/

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

	#nav-list button {
		margin-left: 0px;
	}

	.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
	}

	#header-dropdown {
		background: linear-gradient(160deg,#02cbba,#aa7efd);
	}

	/*Dashboard*/
	#dashboard-img {
		display: none;
	}

	#dashboard {
		margin-left: 30px;
		margin-right: 30px;
		width: auto;
		top: 650px;
	}

	#dashboard-list > li {
		padding: 15px 0px 15px 0px;
		font-size: 1em;
	}

	#dashboard-image {
		background: url(../images/dashboard_300x320.png) no-repeat;
		width: 300px;
		height: 320px;
		padding-top: 20px;
	}

	#dashboard-button {
  padding: 20px;
  font-size: 1.5em;
	}
	/*Dashboard*/

	/*Query*/
	#query {
		margin-top: 100px;
	}

	#query-heading > h1{
		font-size: 2em;
	}

	#discussion-image1 {
		background: url(../images/general_600x260.jpg);
		width: 600px;
		height: 260px;
		margin: 40px 40px 0px 40px;
	}

	#discussion-image2 {
		background: url(../images/university_600x260.jpg);
		width: 600px;
		height: 260px;
		margin: 40px 40px 0px 40px;
	}
	/*Query*/

	/*Connect-abroad*/
	#connect-heading {
		padding: 10px 5px 10px 5px;
		font-size: 1em;
	}

	/*Connect-abroad*/
}


/********** Extra small devices only **********/
@media (max-width: 767px) {

	/*HEADER*/
	#nav-list button {
		margin-left: 0px;
	}
	.navbar-brand {
		padding-top: 10px;
	}

	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;
	}

	/*Main Content*/
	#main-content {
		padding-top: 100px;
	  text-align: center;
	}
	/*Main Content*/

	/*Dashboard*/
	#dashboard-img {
		display: none;
	}

	#dashboard {
		margin-left: 30px;
		margin-right: 30px;
		width: auto;
		top: 600px;
	}

	#dashboard-list > li {
		padding: 10px;
		font-size: 1.3em;
	}

	#dashboard-image {
		background: url(../images/dashboard_420x220.png);
		width: 420px;
		height: 220px;
	}

	#dashboard-button {
  padding: 50px;
  font-size: 1.5em;
	}
	/*Dashboard*/

	/*Query*/

	#query {
		margin-top: 300px;
	}

	#discussion-image1 {
		background: url(../images/general_440x260.jpg);
		width: 440px;
		height: 260px;
		margin-left: 80px;
	}

	#discussion-image2 {
		background: url(../images/university_440x260.jpg);
		width: 440px;
		height: 260px;
		margin-left: 80px;
	}
	/*Query*/

	/*Connect-abroad*/

	#connect-animate {
		margin: 20px;
		background: url(../images/roommate_550x400.jpg);
		width: 550px;
		height: 400px;
	}

	/*Connect-abroad*/

}

@media (min-width: 768px){
.navbar-right {
    float: right;
    margin-right: -15px;
}}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {

	#innerbanner {
		background-size: 100% 600px;
	}

  #nav-list button {
  	margin: 0px;
  }
  /*Main Content*/
  #main-content {
		padding-top: 10px;
	  text-align: center;
	}

	#main-content h1{
		font-size: 2em;
	}
	/*Main Content*/

	/*Dashboard*/
	#dashboard-img {
		display: none;
	}

  #dashboard {
		margin-left: 20px;
		margin-right: 20px;
		width: auto;
		padding: 40px 20px 40px 20px;
		top: 550px;
	}

	#dashboard-list > li {
		padding: 12px 0px 12px 0px;
		font-size: 1em;
	}

	#dashboard-image {
		background: url(../images/dashboard_340x200.png);
		width: 340px;
		height: 200px;
	}

	#dashboard-button {
	  padding: 10px;
	  font-size: 1.2em;
	}

	/*Dashboard*/

	/*Query*/

	#query {
		margin-top: 50px;
	}

	#query-heading > h1{
		font-size: 5vw;
	}

	#discussion-image1 {
		background: url(../images/general_340x260.jpg);
		width: 340px;
		height: 260px;
		margin-left: 10px;
	}

	#discussion-image2 {
		background: url(../images/university_340x260.jpg);
		width: 340px;
		height: 260px;
		margin-left: 10px;
	}

	/*Query*/

	/*Connect-abroad*/
	#connect-heading {
		padding: 10px 5px 10px 5px;
		font-size: 3vw;
	}


	#connect-abroad {
		height: 550px;
	}

	#connect-more > h2 {
		font-size: 1.2em;
	}

	#connect-animate {
		margin: 20px;
		background: url(../images/roommate_330x200.jpg);
		width: 330px;
		height: 200px;
	}

	/*Connect-abroad*/

}

/********** Medium Mobile devices only **********/
@media (max-width: 380px) {

  /*Main Content*/
  #main-content {
		padding-top: 10px;
	  text-align: center;
	}

	#main-content h1{
		font-size: 2em;
	}
	/*Main Content*/

	/*Dashboard*/
	#dashboard-img {
		display: none;
	}

  #dashboard {
		margin-left: 20px;
		margin-right: 20px;
		width: auto;
		padding: 40px 20px 40px 20px;
		top: 550px;
	}

	#dashboard-list > li {
		padding: 12px 0px 12px 0px;
		font-size: 1em;
	}

	#dashboard-image {
		background: url(../images/dashboard_280x200.png);
		width: 280px;
		height: 200px;
	}

	#dashboard-button {
	  padding: 10px;
	  font-size: 1.2em;
	}

	/*Dashboard*/

	/*Query*/

	#query {
		margin-top: 50px;
	}

	#query-heading > h1{
		font-size: 5vw;
	}

	#discussion-image1 {
		background: url(../images/general_280x260.jpg);
		width: 280px;
		height: 260px;
		margin-left: 10px;
	}

	#discussion-image2 {
		background: url(../images/university_280x260.jpg);
		width: 280px;
		height: 260px;
		margin-left: 10px;
	}

	/*Query*/

	/*Connect-abroad*/

	#connect-animate {
		margin: 10px;
		background: url(../images/roommate_290x200.jpg);
		width: 290px;
		height: 200px;
	}

	/*Connect-abroad*/

}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {

  /*Main Content*/
  #main-content {
		padding-top: 10px;
	  text-align: center;
	}

	#main-content h1{
		font-size: 2em;
	}
	/*Main Content*/

	/*Dashboard*/
	#dashboard-img {
		display: none;
	}

  #dashboard {
		margin-left: 20px;
		margin-right: 20px;
		width: auto;
		padding: 40px 20px 40px 20px;
		top: 550px;
	}

	#dashboard-list > li {
		padding: 12px 0px 12px 0px;
		font-size: 1em;
	}

	#dashboard-image {
		background: url(../images/dashboard_230x200.png);
		width: 230px;
		height: 200px;
	}

	#dashboard-button {
	  padding: 10px;
	  font-size: 1.2em;
	}

	/*Dashboard*/

	/*Query*/

	#query {
		margin-top: 100px;
	}

	#query-heading > h1{
		font-size: 4.5vw;
	}

	#discussion-image1 {
		background: url(../images/general_230x260.jpg);
		width: 230px;
		height: 260px;
		margin-left: 10px;
	}

	#discussion-image2 {
		background: url(../images/university_230x260.jpg);
		width: 230px;
		height: 260px;
		margin-left: 10px;
	}

	/*Query*/

	/*Connect-abroad*/

	#connect-abroad {
		height: 500px;
	}

	#connect-animate {
		margin: 10px;
		background: url(../images/roommate_250x180.jpg);
		width: 250px;
		height: 180px;
	}

	/*Connect-abroad*/

}
