#innerbanner {
	height: 140px;
}

#main-section {
	
	text-align: center;
}
#main-screen{
	position:relative;
	  height: 800px;
}

#screen{
	 position:absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    height: 800px;
}
#color-screen{
  background-color: rgba(255, 80, 80, 0.7);
  height: 800px;
}
#uni-box {
  margin: 150px 100px 100px 100px; 
  font-size: 2em;
}

#uni-box h1 {
  margin-right: 50px;
  font-weight: 700 !important;
  font-size: 1.3em;
}
#sheet {
    
	text-align: center;
	padding: 100px 40px 120px 40px;
	text-transform: uppercase;
}


/*#roommate-box {
	margin: 100px 100px 30px 100px;
	font-size: 2em;
}
#roommate-box h1 {
	margin-right: 50px;
	font-weight: 700 !important;
}
*/

#roommate-searchbox {
  background-color: #fff;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

#search-icon {
	color: #02b3e4;
}

#search-box input {
  width: 120%;
  margin-left: -5%;
  margin-top: 5px;
  padding: 0px;
  border-radius: 5px;
  border: 0;
}

#search-button button {
	border-radius: 5px;
	border: 2px solid #02b3e4;
	background-color: #02b3e4;
	color: #fff;
}

#post-room {
	margin: 100px 50px 100px 50px;
	font-size: 1.5em;
}
#post-room h1{
	font-size:30px;
}

#post-room button{
	font-weight: 550;
	font-size:25px;
}

#post-room button {
	border-radius: 5px;
	border: 2px solid #02b3e4;
	background-color: #02b3e4;
	color: #fff;
	padding: 5px 10px;
}

/***###*** MEDIA QUERIES ***###***/

/********** Large devices only **********/
@media (min-width: 1200px) {


}
#screen{
  background-image: url('../images/ialicante-mediterranean-homes-475799-unsplash.jpg'); 
  height: 800px; 
  background-repeat: no-repeat; 
  background-size: cover;
}
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

#uni-box {
    margin: 50px;
  }
  #uni-box h1{
    font-size:25px;
  }
  #post-room button{
	font-size:25px;
}
}
  

@media (min-width: 992px) and (max-width: 1199px) {
	
 
  #screen{
  background-image: url('../images/ialicante-mediterranean-homes-475799-unsplashCrop2.jpg');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}
}
@media (min-width: 555px) and (max-width: 991px) {
  
  #screen{
  background-image: url('../images/ialicante-mediterranean-homes-475799-unsplashCrop2.jpg');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}
#uni-box h1{
    font-size:25px;
  }
  #post-room button{
	font-size:25px;
}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

#uni-box {
    margin: 50px;
  }
  #uni-box h1{
    font-size:25px;
  }
  #post-room button{
	font-size:25px;
}

  /*#uni-box h1 {
    margin-right: 10px;
  }*/

}
@media (max-width: 554px) {
  
  #screen{
  background-image: url('../images/ialicante-mediterranean-homes-475799-unsplashCrop3.jpg');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}
}


/********** Extra small devices only **********/
@media (max-width: 767px) {

	#innerbanner {
		height: 100px;
	}
	  #uni-box {
    margin: 50px;
  }

  #uni-box h1 {
    margin-right: 10px;
	font-size:25px;
  }
    #search-box input {
    font-size: 0.8em;
    width: 150%;
  }
  #post-room button{
	font-size:25px;
}

}

/********** Large Mobile devices only (ON SCREEN ROTATION) **********/

@media (max-width: 640px) {
#search-box input {
    width: 150%;
    margin-top: 5px;
    height: 25px;
    margin-left: -10px;
    font-size: 3.5vw;
  }
}
@media (max-width: 564px) {
 #search-box input {
    width: 150%;
    margin-top: 5px;
    height: 25px;
    margin-left: -5px;
    font-size: 0.6em;
} 
}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {
	#roommate-box {
    margin: 10px;
    font-size: 5vw;
	}

	#search-box input {
		width: 150%;
		margin-left: -15px;
	}

	#roommate-box h1 {
		margin-right: 5px;
	}

  #post-room {
  margin: 10px;
  font-size: 3.5vw;
}
 #search-box input {
    width: 150%;
    margin-top: 5px;
    height: 25px;
    margin-left: -15px;
    font-size: 3.5vw;
  }

}

/********** Medium Mobile devices only **********/
@media (max-width: 380px) {


  #uni-box {
    margin: 10px;
    font-size: 1.2em;
  }
  #uni-box h1{
    font-size:25px;
  }
  #post-room button{
	font-size:25px;
}


}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {


}
