#innerbanner {
	height: 140px;
}

#main-content {
	background-color: #eee;
}

#main-image {
	
}


/***###*** MEDIA QUERIES ***###***/

/********** Large devices only **********/
@media (min-width: 1200px) {
  

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {


}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {


}


/********** Extra small devices only **********/
@media (max-width: 767px) {

	#innerbanner {
		height: 100px;
	}

}

/********** Large Mobile devices only (ON SCREEN ROTATION) **********/

@media (max-width: 640px) {

}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {


}

/********** Medium Mobile devices only **********/
@media (max-width: 380px) {


}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {


}