#innerbanner {
    height: 140px;
}

#main-content {
    padding: 20px;
    margin: 20px;
    text-align: left;
    text-transform: uppercase;
}

#filters {
    margin: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.drop {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.drop .dropdown-menu {
    box-shadow: 5px 5px 23px 0 #aba;
    background-color: #fff;
}

#dropdown1 {
    left: -40px;
}

#dropdown1 button {
    margin: 5px;
}


.dropdown-filter {
    width: auto;
    padding: 10px;
    text-align: center;
}

.room-card {
    border-radius: 5px;
}

.room-img {
    margin-top: 20px;
    padding: 0px;
    position: relative
}

.room-img span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.8em;
    color: #fff;
    cursor: pointer;
}

.room-detail {
    margin-left: 5px;
}

.star span {
    color: #02b3e4;
    font-size: 1.5em;
    padding: 5px 0px;
}

.batch {

}

.room-info {
    text-transform: none;
    color: #484848;
}
