* {
	box-sizing: border-box;
}


/*Section body*/
#innerbanner {
	background: linear-gradient(160deg,#02cbba,#aa7efd);
	height: 1150px;
}
/*Section body*/

/*HEADER*/

.fixed {
	background-color: #fff;
	color: black;
	box-shadow: 5px 5px 23px 0 #595f61;
}

#header-nav .fixed .header-content {
	border-bottom: 0;
	padding: 25px 0;
}
#header-nav.fixed .nav-toggle {
	top: 18px;
}

#header-nav  {
	padding-bottom: 10px;
}

#logo-img {
	background: url(../images/logo.png);
	width: 60px;
	height: 60px;
	margin: 10px 15px 10px 0;
}


.navbar-brand {
	padding: 28px 25px 35px 15px;
}

.navbar-brand h1 {
	font-family: 'Montserrat';
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	color: #fff;
}


.navbar-brand > a:hover, .navbar-brand > a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
	margin-right: 20px;
	font-size: 1.3em;
}

#nav-list a {
	text-align: center;
	color: #fff;
}

#nav-list a:hover {
	border: 1px solid;
	border-radius: 5px;
}

.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

.navbar-toggle span{
	border: 1px solid #fff;
}
/*HEADER*/

/*Main Content*/
#main-content {
	padding-top: 150px;
  text-align: center;
}

#main-content > h1 {
	font-family: brandon-grotesque,Helvetica,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  font-size: 3.5rem;
}

#main-content-button {
	background-color: #FF8DB2;
  text-transform: uppercase;
  border: 0;
  padding: 20px 50px 20px 50px;
  border-radius: 5px;
  font-family: brandon-grotesque,Helvetica,sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 50px;
  color: #eee;
  transform: perspective(1px) translateZ(0); /*for hover effect*/
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.5s;
}


#main-content-button:hover {
	transform: scale(1.05);
	color: #fff;
}
/*Main Content*/


/*Dashboard*/
#dashboard {
	background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 650px;
  margin: -140px auto 0;
  padding: 60px 80px;
  width: 1180px;
  text-align: left;
  box-shadow: 5px 10px 23px 0 #aba;
 	-webkit-transition: all .3s ease; 
 	transition: all .3s ease; 
}

#dashboard:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);	
}

#dashboard-heading {
	font-family: 'Open Sans';
	font-weight: 500;
	font-style: italic;
	font-size: 5.5em;
	color: #02b3e4;
}

#dashboard-list {
	list-style-type: none;
	padding: 10px;
	text-transform: uppercase;
}

#dashboard-list > li {
	padding: 10px;
	font-size: 1.5em;
}

#dashboard-list > li > span {
	padding: 25px;
}

#dashboard-image {
	background: url(http://via.placeholder.com/450x360);
	width: 450px;
	height: 360px;
}

#dashboard-button {
	background-color: #02b3e4;
	font-size: 13px;
  text-transform: uppercase;
  border: 0;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  font-family: brandon-grotesque,Helvetica,sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 50px;
  color: #eee;
  transform: perspective(1px) translateZ(0); /*for hover effect*/
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.5s;
}

#dashboard-button:hover {
	transform: scale(1.05);
	color: #fff;
}

/*Dashboard*/

/*Query*/
	
	#query {
		margin-top: 80px;
		text-align: center;
		position: relative;
	}

	#query-heading {
		color: #02b3e4;
		text-transform: uppercase;
	}

	.discussion {
		border-radius: 10px;
		margin: 30px 5px;
		box-shadow: 5px 10px 23px 0 #aba;
		padding: 10px;
	}

	.discussion:hover {
  	box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);	
	}

	.discussion-heading {
		font-family: 'Open Sans';
		font-weight: 500;
		font-style: italic;
		text-transform: uppercase;
		text-align: left;
	}

	.discussion-list {
		text-align: left;
		text-transform: uppercase;
		font-size: 1.2em;
		padding: 10px;
	}

	.discussion-list span {
		padding: 15px;
	}

	.discussion-list p 
	{
		padding-left: 50px;
	}

	#discussion-image1 {
		background: url(http://via.placeholder.com/240x260);
		width: 240px;
		height: 260px;
	}

	#discussion-image2 {
		background: url(http://via.placeholder.com/240x260);
		width: 240px;
		height: 260px;
	}

	.discussion-button {
	background-color: #02b3e4;
	font-size: 13px;
  text-transform: uppercase;
  border: 0;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  font-family: brandon-grotesque,Helvetica,sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 50px;
  color: #eee;
  transform: perspective(1px) translateZ(0); /*for hover effect*/
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.5s;
}

.discussion-button:hover {
	transform: scale(1.05);
	color: #fff;
}
/*Query*/

/*Connect-abroad*/

#connect-abroad {
	background: linear-gradient(200deg,#4f4af4,#4ac2cb);
	height: 600px;
	margin-bottom: 10px;
	text-align: center;
}

#connect-heading {
	padding: 50px;
	font-family: brandon-grotesque,Helvetica,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;

}

/*Connect-abroad*/

/*FOOTER*/

footer {
	background-color: #edfafd;
	text-transform: uppercase;
	color: #7a97af;
}


.footer-content {
	padding: 20px 0px 0px 40px;
	margin-top: 20px;
	text-transform: uppercase;
	font-family: 'brandon-grotesque','Helvetica',sans-serif;
}

.footer-list ul {
	list-style-type: none;
	text-transform: uppercase;
}

.footer-list li {
	padding: 5px;
	font-size: 1.2em;	
}

.footer-list i {
	padding-right: 20px;
	font-size: 1.8em;
}

.footer-list a:hover {
	text-decoration: none;
}



/*FOOTER*/

/********** Large devices only **********/
@media (min-width: 1200px) {
  

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

	/*Dashboard*/
	#dashboard {
		margin-left: 30px;
		margin-right: 30px;
		width: auto;
	}

	#dashboard-list > li {
		padding: 15px 0px 15px 0px;
		font-size: 1.2em;
	}

	#dashboard-button {
  	font-size: 2em;
 	}

 	#dashboard-image {
		background: url(http://via.placeholder.com/420x320);
		width: 420px;
		height: 320px;
	}

	/*Dashboard*/

	/*Query*/

	#query {
		margin-top: 100px;
	}

	#discussion-image1 {
		background: url(http://via.placeholder.com/180x240);
		width: 180px;
		height: 240px;
	}

	#discussion-image2 {
		background: url(http://via.placeholder.com/180x240);
		width: 180px;
		height: 240px;
	}
	
	/*Query*/

	/*Connect-abroad*/
	#connect-heading {
		padding: 10px 5px 10px 5px;
		font-size: 1.2em;
	}
	
	/*Connect-abroad*/

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

	/*Dashboard*/
	#dashboard {
		margin-left: 30px;
		margin-right: 30px;
		width: auto;
	}

	#dashboard-list > li {
		padding: 15px 0px 15px 0px;
		font-size: 1em;
	}

	#dashboard-image {
		background: url(http://via.placeholder.com/300x320);
		width: 300px;
		height: 320px;
	}

	#dashboard-button {
  padding: 20px;
  font-size: 1.5em;
	}	
	/*Dashboard*/

	/*Query*/

	#query-heading > h1{
		font-size: 2em;
	}

	#discussion-image1 {
		background: url(http://via.placeholder.com/440x260);
		width: 440px;
		height: 260px;
		margin-left: 120px;
	}

	#discussion-image2 {
		background: url(http://via.placeholder.com/440x260);
		width: 440px;
		height: 260px;
		margin-left: 120px;
	}
	/*Query*/

	/*Connect-abroad*/
	#connect-heading {
		padding: 10px 5px 10px 5px;
		font-size: 1em;
	}
	
	/*Connect-abroad*/
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
	/*HEADER*/

	.navbar-brand {
		padding-top: 10px;
	}

	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;
	}

	/*Main Content*/
	#main-content {
		padding-top: 100px;
	  text-align: center;
	}
	/*Main Content*/

	/*Dashboard*/
	#dashboard {
		margin-left: 30px;
		margin-right: 30px;
		width: auto;
	}

	#dashboard-list > li {
		padding: 10px;
		font-size: 1.3em;
	}

	#dashboard-image {
		background: url(http://via.placeholder.com/420x220);
		width: 420px;
		height: 220px;
	}

	#dashboard-button {
  padding: 50px;
  font-size: 1.5em;
	}
	/*Dashboard*/

	/*Query*/
	
	#query {
		margin-top: 300px;
	}

	#discussion-image1 {
		background: url(http://via.placeholder.com/440x260);
		width: 440px;
		height: 260px;
		margin-left: 80px;
	}

	#discussion-image2 {
		background: url(http://via.placeholder.com/440x260);
		width: 440px;
		height: 260px;
		margin-left: 80px;
	}
	/*Query*/

}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {
  
  /*Main Content*/
  #main-content {
		padding-top: 100px;
	  text-align: center;
	}
	/*Main Content*/

	/*Dashboard*/
  #dashboard {
		margin-left: 20px;
		margin-right: 20px;
		width: auto;
		padding: 40px 20px 40px 20px;
	}

	#dashboard-list > li {
		padding: 12px 0px 12px 0px;
		font-size: 1em;
	}

	#dashboard-image {
		background: url(http://via.placeholder.com/340x200);
		width: 340px;
		height: 200px;
	}

	#dashboard-button {
	  padding: 10px;
	  font-size: 1.2em;
	}

	/*Dashboard*/

	/*Query*/
	
	#query {
		margin-top: 200px;
	}

	#query-heading > h1{
		font-size: 5vw;
	}

	#discussion-image1 {
		background: url(http://via.placeholder.com/340x260);
		width: 340px;
		height: 260px;
		margin-left: 10px;
	}

	#discussion-image2 {
		background: url(http://via.placeholder.com/340x260);
		width: 340px;
		height: 260px;
		margin-left: 10px;
	}

	/*Query*/

	/*Connect-abroad*/
	#connect-heading {
		padding: 10px 5px 10px 5px;
		font-size: 3.5vw;
	}

	/*Connect-abroad*/

}

/********** Large Mobile devices only **********/
@media (max-width: 380px) {
  
  /*Main Content*/
  #main-content {
		padding-top: 100px;
	  text-align: center;
	}
	/*Main Content*/

	/*Dashboard*/
  #dashboard {
		margin-left: 20px;
		margin-right: 20px;
		width: auto;
		padding: 40px 20px 40px 20px;
	}

	#dashboard-list > li {
		padding: 12px 0px 12px 0px;
		font-size: 1em;
	}

	#dashboard-image {
		background: url(http://via.placeholder.com/280x200);
		width: 280px;
		height: 200px;
	}

	#dashboard-button {
	  padding: 10px;
	  font-size: 1.2em;
	}

	/*Dashboard*/

	/*Query*/
	
	#query {
		margin-top: 200px;
	}

	#query-heading > h1{
		font-size: 5vw;
	}

	#discussion-image1 {
		background: url(http://via.placeholder.com/280x260);
		width: 280px;
		height: 260px;
		margin-left: 10px;
	}

	#discussion-image2 {
		background: url(http://via.placeholder.com/280x260);
		width: 280px;
		height: 260px;
		margin-left: 10px;
	}

	/*Query*/

}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {
  
  /*Main Content*/
  #main-content {
		padding-top: 100px;
	  text-align: center;
	}
	/*Main Content*/

	/*Dashboard*/
  #dashboard {
		margin-left: 20px;
		margin-right: 20px;
		width: auto;
		padding: 40px 20px 40px 20px;
	}

	#dashboard-list > li {
		padding: 12px 0px 12px 0px;
		font-size: 1em;
	}

	#dashboard-image {
		background: url(http://via.placeholder.com/230x200);
		width: 230px;
		height: 200px;
	}

	#dashboard-button {
	  padding: 10px;
	  font-size: 1.2em;
	}

	/*Dashboard*/

	/*Query*/
	
	#query {
		margin-top: 300px;
	}

	#query-heading > h1{
		font-size: 4.5vw;
	}

	#discussion-image1 {
		background: url(http://via.placeholder.com/230x260);
		width: 230px;
		height: 260px;
		margin-left: 10px;
	}

	#discussion-image2 {
		background: url(http://via.placeholder.com/230x260);
		width: 230px;
		height: 260px;
		margin-left: 10px;
	}

	/*Query*/

}