* {
	box-sizing: border-box;
}

#header-nav  {
	background: linear-gradient(167deg,#002590 20%,#0bb6d7 70%,#dbf6c8),linear-gradient(#4e1b4e,#4e1b4e););
	padding-bottom: 150px;
}

#logo-img {
	background: url(../images/logo.png);
	width: 60px;
	height: 60px;
	margin: 10px 15px 10px 0;
}

#header-nav {
	background-color: #fff;
	/*border-radius: 0;
	border: 0;*/
}

.navbar-brand {
	padding: 25px;
}

.navbar-brand h1 {
	font-family: 'Montserrat';
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	color: #fff;
}

.navbar-brand > a:hover, .navbar-brand > a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
	margin-right: 20px;
	font-size: 1.3em;
}

#nav-list a {
	text-align: center;
	color: #fff;
}

#nav-list a:hover {
	background-color: #E7E7E7;
	border-radius: 5px;
	color: black;
}

.navbar-toggle {
	clear: both;
	margin-top: -30px;
}





/********** Large devices only **********/
@media (min-width: 1200px) {
  
	#nav-list {
    height: 50px;
 	}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {


}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {


}


/********** Extra small devices only **********/
@media (max-width: 767px) {
	/*HEADER*/

	.navbar-brand {
		padding-top: 10px;
	}

	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;
	}

}

/********** Extra Extra small devices only **********/
@media (max-width: 550px) {
  

}