* {
	box-sizing: border-box;
}

#header-nav  {
	backgrond: linear-gradient(167deg,#002590 20%,#0bb6d7 70%,#dbf6c8),linear-gradient(#4e1b4e,#4e1b4e););
	padding-bottom: 10px;
}

#logo-img {
	background: url(../images/logo.png);
	width: 60px;
	height: 60px;
	margin: 10px 15px 10px 0;
}

#header-nav {
	background-color: #fff;
	/*border-radius: 0;
	border: 0;*/
}

.navbar-brand {
	padding: 25px;
}

.navbar-brand h1 {
	font-family: 'Montserrat';
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	color: black;
}

.navbar-brand > a:hover, .navbar-brand > a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
	margin-right: 20px;
	font-size: 1.3em;
}

#nav-list a {
	text-align: center;
	color: black;
}

#nav-list a:hover {
	background-color: #E7E7E7;
	border-radius: 5px;
	color: black;
}

.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

#main-content {
	height: 1000px;
	padding-top: 100px;
  text-align: center;
  background: -webkit-radial-gradient(100% 100%,ellipse farthest-side,#dbf6c8 20%,#1cafc6 50%,#012690 110%);
}

#main-content p {
	font-family: brandon-grotesque,Helvetica,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  font-size: 3.5em;
}

#main-content button {
	background-color: #ff978d;
	font-size: 13px;
  text-transform: uppercase;
  border: 0;
  padding: 20px 50px 20px 50px;
  border-radius: 5px;
  font-family: brandon-grotesque,Helvetica,sans-serif;
  font-size: 2em;
  font-weight: 600;
  margin-top: 50px;
  color: #fff;
  transition: font-size 2s;
}


#main-content button:hover {
	font-size: 2.2em;
}



/********** Large devices only **********/
@media (min-width: 1200px) {
  
	#nav-list {
    height: 50px;
 	}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {


}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {


}


/********** Extra small devices only **********/
@media (max-width: 767px) {
	/*HEADER*/

	.navbar-brand {
		padding-top: 10px;
	}

	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;
	}

}

/********** Extra Extra small devices only **********/
@media (max-width: 550px) {
  

}