* {
	box-sizing: border-box;
	font-family: Open Sans,sans-serif;
}

#nav-list1 {
	margin-top: 10px;
	font-size: 13px;
	text-align: center;
}


#nav-list1 >li > a {
	text-align: center;
	color: #02b3e4;
	transform: perspective(1px) translateZ(0); /*for hover effect*/
	box-shadow: 0 0 1px transparent;
	transition-duration: 0.5s;
	text-transform: uppercase;
}



#nav-list1 button {
	text-transform: uppercase;
	background-color: #02b3e4;
	color:white;
	padding: 13px 30px 13px 30px;
	margin-left: 20px;
	border-radius: 5px;
	border: 0;
	margin-top:-15px;
	transform: perspective(1px) translateZ(0); /*for hover effect*/
	box-shadow: 0 0 1px transparent;
	transition-duration: 0.5s;
	font-size: 15px;
}



#nav-list1 #notification { 	/*WILL DISPLAY, WHEN LOGGED IN*/
	display: none;
}
#innerbanner1 {
		background-color:white;
	
}
.navbar-brand h1 {
	letter-spacing:5px;
	font-size: 1.1em;
	text-transform: uppercase;
	text-shadow: 0.5px 0.5px 0.5px #4289EF;
	margin-top: 0;
	margin-bottom: 0;
	color:#02b3e4;
	font-weight: 0.5em;
}


#innerbanner {
  height: 140px;
}

#main-section {
  margin: 30px;
}

#first-card {
  text-transform: uppercase;
  border-radius: 5px;
  margin: 20px 5px;
  box-shadow: 1px 1px 10px 0 #aba;
  padding: 20px;
}

#interest {
  position: absolute;
  top: 10px;
  right: 20px;
}

#interest button {
  padding: 2px 10px;
  border: 2px solid #02b3e4;
  border-radius: 5px;
  background-color: #fff;
  color: #02b3e4;
  font-size: 1.2em;
}

#interest button:hover {
  background-color: #02b3e4;
  color: #fff;
}

.drop {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.dropdown-filter {
  width: 1000px;
  padding: 10px;
  text-align: center;
}

#dropdown1 {
  left: -40px;
}

#dropdown2 {
  left: -80px;
}

#dropdown3 {
  left: -40px;
}

#dropdown4 {
  left: -400px;
}

#dropdown5 {
  left: -600px;
}

.btn-default {
  border-color: #02b3e4;
}


.dropdown-button {
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  border: 2px solid #02b3e4;
  font-weight: 500;
}

.dropdown-button:hover {
  background-color: #02b3e4;
  color: #fff;
  border-color: #02b3e4;
  font-weight: 600;
}

.drop .dropdown-menu {
  box-shadow: 5px 5px 23px 0 #aba;
  background-color: #fff;
}



.drop .dropdown-menu > li > a{
  color: black;
}

#second-card {
  text-transform: uppercase;
  border-radius: 5px;
  margin: 20px 5px;
  box-shadow: 1px 1px 23px 0 #aba;
  padding: 20px;
  width: 50%;
}

#suggestion {
  margin: 5px 10px;
  display: none;
}

.suggest {
  display: block;
}

#suggestion button {
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #02b3e4;
  background-color: #fff;
}


.filter {
  margin: 0px;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.button {
  text-transform: uppercase;
  border: 2px solid #02b3e4;
  border-radius: 5px;
  font-family: brandon-grotesque,'Helvetica',sans-serif;
  font-size: 1.2em;
  padding: 5px 10px 5px 10px;
  font-weight: 600;
  color: #02b3e4;
  transform: perspective(1px) translateZ(0); /*for hover effect*/
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.5s;
  background-color: #fff;
}

.button:hover {
  transform: scale(1.05);
  color: #fff;
  background-color: #02b3e4;
}

#third-card-heading {
  width: 70%;
  padding-left: 30px;
}

#third-card {
  text-transform: uppercase;
  border: 2px solid #ddd;
  margin: 20px 5px;
  padding: 20px;
  width: 70%;
}

#add-discussion {
  font-family: Arial,  sans-serif;
  font-weight: 500;
}

#third-card .style {
  font-size: 1.5em;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  border-radius: 4px;
  border: 1px solid;
  margin: 5px;
  padding: 8px 0px;
  color: #02b3e4;
}

#third-card .style:hover {
  background-color: #02b3e4;
  color: #fff;
}

#add-comment {
  margin: 5px 20px;
  padding: 10px;
  font-family: 'Noto Sans', sans-serif;
}

#view-comment a{
  margin: 5px 20px;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
}

#view-comment a:hover {
  color: #02b3e4;
}

#comment-button {
  text-align: center;
}

#comment-button button {
  background-color: #02b3e4;
  color: #eee;
  font-size: 1.2em;
  font-weight: 600;
}

#comment-button button:hover {
  color: #fff;
}

/***###*** MEDIA QUERIES ***###***/

/********** Large devices only **********/
@media (min-width: 1200px) {


}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  #innerbanner {
    height: 150px;
  }

  .dropdown-filter {
    width: 800px;
    padding: 10px;
    text-align: center;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  #innerbanner {
    height: 150px;
  }

  #second-card {
    width: 65%;
  }

  .dropdown-filter {
    width: 700px;
    padding: 10px;
    text-align: center;
  }

  #dropdown1 {
    left: -80px;
  }

  #dropdown2 {
    left: -200px;
  }

  #dropdown3 {
    left: -200px;
  }

  #dropdown4 {
    left: -300px;
  }

  #dropdown5 {
    left: -450px;
  }

}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  #innerbanner {
    height: 100px;
  }

  #main-section {
    margin: 0px;
  }

  #second-card {
    width: 98%;
  }

  #third-card-heading {
    width: 70%;
    padding-left: 30px;
  }

  #third-card {
    width: 98%;
  }
}

/********** Large Mobile devices only (ON SCREEN ROTATION) **********/

@media (max-width: 640px) {

  .dropdown-filter {
    width: 600px;
  }

  #dropdown1 {
    left: -77px;
  }

  #dropdown2 {
    left: -200px;
  }

  #dropdown3 {
    left: -165px;
  }

  #dropdown4 {
    left: -220px;
  }

  #dropdown5 {
    left: -350px;
  }
}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {

  .dropdown-filter {
    width: 400px;
  }

  #dropdown1 {
    left: -90px;
  }

  #dropdown2 {
    left: -210px;
  }

  #dropdown3 {
    left: -180px;
  }

  #dropdown4 {
    left: -80px;
  }

  #dropdown5 {
    left: -200px;
  }

}

/********** Medium Mobile devices only **********/
@media (max-width: 380px) {

  .dropdown-filter {
    width: 350px;
  }

  #dropdown1 {
    left: -90px;
  }

  #dropdown2 {
    left: -210px;
  }

  #dropdown3 {
    left: -180px;
  }

  #dropdown4 {
    left: -50px;
  }

  #dropdown5 {
    left: -50px;
  }
}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {

  #second-card {
    width: 98%;
  }

  #third-card {
    width: 100%;
  }

  .dropdown-filter {
    width: 300px;
  }

  #dropdown1 {
    left: -90px;
  }

  #dropdown2 {
    left: -40px;
  }

  #dropdown3 {
    left: -185px;
  }

  #dropdown4 {
    left: -45px;
  }

  #dropdown5 {
    left: -45px;
  }

}
