*{
	position: relative;
	 font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bttn{
	border: 20px;
}
}
/*.button{
	display: table-cell;
    vertical-align: middle;
	box-sizing: border-box;
	color: #484848;
	display: block;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	border-radius: 4px;
	border-left: 30px;
	border-right: 30px;
	text-align: center;
	font-size:8px;
	padding: 5px 10px 5px 10px;
	background-color: white;
	cursor: pointer;
	margin:1px solid #d2d6db ;
}*/

.bttn{
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
    font-size: 14px ;
    line-height: 18px;
    letter-spacing: -0.2px ;
    padding-top: 6px ;
    padding-bottom: 6px ;
    color: #484848;
    background: none ;
    border: 1px solid #dce0e0;
    border-radius: 4px ;
    cursor: pointer;
    display: inline-block ;
    outline: none ;
    padding-left: 12px ;
    padding-right: 12px;
    position: relative ;
    text-align: center;
    text-decoration: none ;
	-webkit-appearance: button;
	-webkit-writing-mode: horizontal-tb;
}

.button:hover{
	background-color: #d2d6db;
}






body, html {
    height: 100%;
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #484848;
}

a {
    text-decoration: none;
    outline: none;
	box-sizing: border-box;
}

.full-width {
	position: relative;
	max-width: 906px;
	margin: 20px auto;
}





/* ---- Card View ---- */
.card-view {
    background: #fff;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(204,204,204,0.2);
    -moz-box-shadow   : 0px 1px 1px 0px rgba(204,204,204,0.2);
    box-shadow        : 0px 1px 1px 0px rgba(204,204,204,0.2);
    float: left;
    width: 250px;
    margin: 5px;
}

@media screen and (max-width:800px) {
  .card-view {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

.container {
    border: 1px solid #efefef;
    padding: 15px;
	padding: 0px;
}

.bg {
    display: block;
    overflow: hidden;
    max-height: 170px;
    max-width: 292px;
    background: #000;
}

.bg img {
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0);
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transition: opacity 0.35s, transform 0.35s;
}

.bg:hover img {
    opacity: 0.7;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

span.tag_name {
    font-family: 'Roboto Slab', serif;  
    font-size  : 12px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
    text-transform: uppercase;
	display: inline;
	color: rgb(166, 29, 85);
	margin-left: 10px;
}


/* Card INFO ------------------------ */


.container {
	border: 1px solid #efefef;
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
	box-sizing: border-box;
	padding:0px;

}

@media screen and (max-width:100%) {
  .card-view {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  
  div.card-view{
	 width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 300px;
	margin: 30px;
}

.c_info {
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
    
    line-height: 18px;
}

.c_name {
    font-size: 20px;
    font-weight: 500;
    color: #3c3c3c;
}

.data , .cancel {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #7e8890;
}

#c_stars, #c_stars span { /* white star bottom */
    display: inline-block;
    background: url('https://s15.postimg.org/igu2opvh3/stars.png') 0 -12px repeat-x;
    width: 60px;
    height: 12px;
	color: rgb(166, 29, 85);
	margin-top: 5px;
}

 #c_stars span { /* orange stars overlay  - set width by JS code */
    background-position: 0 0;
	vertical-align: super;
	color: rgb(166, 29, 85);
  
}

.c_num {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    vertical-align: super;
}

.c_content {
    margin-top: -10px;
}

p.review {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-top: 10px;
	
}



/* ---- List View ---- */
.list-view {
    background: #fff;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(204,204,204,0.2);
    -moz-box-shadow   : 0px 1px 1px 0px rgba(204,204,204,0.2);
    box-shadow        : 0px 1px 1px 0px rgba(204,204,204,0.2);
    float: left;
    margin: 5px;
}

.list-view:last-child {
    margin-bottom: 20px;
}

.list-view .container {
    border: 1px solid #efefef;
    padding: 15px;
}

.list-view .bg {
    display: none;
}

.list-view .bg img {
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0);
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transition: opacity 0.35s, transform 0.35s;
}

.list-view .bg:hover img {
    opacity: 0.7;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}



.list-view .tag_name {
    font-family: 'Roboto Slab', serif;  
    font-size  : 12px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* COMPANY INFO ------------------------ */


.list-view .c_info {
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 0;
    line-height: 18px;
}

.list-view .c_name {
    font-size: 20px;
    font-weight: 500;
    color: #3c3c3c;
}

.list-view .c_industry {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #7e8890;
}

.list-view #c_stars, #c_stars span { /* white star bottom */
    display: inline-block;
    background: url('https://s15.postimg.org/igu2opvh3/stars.png') 0 -12px repeat-x;
    width: 60px;
    height: 12px;
}

.list-view #c_stars span { /* orange stars overlay  - set width by JS code */
    background-position: 0 0;
    vertical-align: super;
}

.list-view .c_num {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    vertical-align: super;
}

.list-view .c_content {
    margin-top: -15px;
}

.list-view .c_content p {
    line-height: 21px;
}

.list-view .c_content .title {
    color: #484848;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.list-view .c_content .review {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-top: -10px;
}


.pagination {
    display: inline-block;
	
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 8px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}


/*@media screen and (max-width: 300px) {
    .full-width {
      
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 300px){
    .full-width {
      
        margin-left: auto;
        margin-right: auto;
    }
}*/